body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color:#000000;
    width: 396px;
    border-radius: 1rem;
    margin-left: 0.2rem;

}
.main_content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto ;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.music-player{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;

}

.nav{
    
    background-color:#121212;
    height: 96px;
    border-radius: 0.25rem;
    color: white;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    
}
.opt a{
    color: white;
    margin-left: 1rem;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
}
#search {
    color: rgba(255, 255, 255, 0.582);
    
}
#search a{
    color: inherit;
}

.opt{
    line-height: 2.5rem;
    padding: 0.25rem 1rem;
    
}
.opt i{
    font-size: 1.25rem;
}

 #search:hover{
    color: white;
    transition: 0.2s;
 }
 .lib-options{
    opacity: 0.5;
 }
  .lib-options img{
    height: 1.25rem;
    width: 1.5rem;
  }
.library{
    background-color: #121212;
    border-radius: 0.25rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    
}

.options{
    display: flex;
    justify-content: space-between;
    
}

.lib-options a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 0.5rem;
    font-size: 1rem;
}
.icons i{
    padding:0.5rem;
    font-size: 1.25rem;
    opacity: 0.5;
}
.icons i:hover{
    opacity: 1;

}
.lib-options:hover{
    opacity: 1;

}
 .box{
    background-color: #242424;
    height:6.5rem ;
    border-radius: 0.825rem;
    margin: 0.8rem 0 1.75rem 0;
    padding:1.25rem;
    padding-top: 1.25rem;
 }
 .box-p1{
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 1rem;
 }
.box-p2{
    font-size:0.9rem ;
    font-weight: 400;
    padding-bottom: 1rem;
}

.badge{
    background-color: white;
    border-radius: 100px;
    border: none;
    padding: 0.45rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height:2rem ;
    width: fit-content;
    bottom:2rem;
}
 .badge:hover{
    transition: 0.1s;
    transform: scale(1.05);
 }
 .sticky-nav{
    position: sticky;
    top: 0;
    background-color:#121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    z-index: 7;
 }

 #install{
    background-color: #000000;
    color:white;
    position: sticky;
 }
  .sticky-nav .sticky2{
    
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin-right: 0.3rem;

 }
 .sticky-nav .sticky2 .badge{
    scale: 1.1;
 }
 .sticky-nav .sticky2 #us{
    border-radius: 50%;
    border: solid black 8px;
    background-color: #000000;
    margin-left: -0.7rem;
    margin-top: 0.5rem;

}
 .sticky-nav .sticky2 button{
    margin-right: 1.5rem;
 }

.sticky-nav .sticky1{
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    width: 5rem;
}
.sticky-nav .sticky1 img{
    border: solid rgba(0, 0, 0, 0.453) 8px;
    opacity: 0.8;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.453);
    backdrop-filter: blur(5px)  ;
    height : 1.3rem ;  width: 1.3rem;

}
 @media(max-width: 1024px){
    .hide{
        display: none;
    }
 }
 .cards{
   
    margin-top: -1.2rem;
 }

  .card{
    background-color: #181818;
    width: 10rem;
    height: 15rem;
    border-radius: 0.3rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    
  }

.cardcontainer{
    display: flex;
    flex-wrap: wrap;

}
 .card img{
   width: 100%;
   border-radius: 0.3rem;
   box-shadow: 0.1rem 0.1rem 13.5px rgba(0, 0, 0, 0.374);

 }
 .card-title{
    font-weight: 600;
 }
 .card-info{
    font-weight: 500;
    opacity: 0.5;
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-top: -0.4rem;
 }
 .titles{
    font-weight: 600;
    font-size: 1.3rem;
    margin-left: 1.5rem
 }
 .footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .line{
    width: 90%;
    height: 30%;
    border-top: solid 1px white;
    opacity: 0.5;
    margin-left: 1.5rem;
 }
  .card:hover{
    background-color: #242424;
    transition: 0.3s;
    cursor: pointer;
 }
 .album{
    width: 25%;
 }

.control{
    width: 25%;
}
.player{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
 .player-controls{
    display: flex;
    justify-content: space-evenly;
    width: 15rem;
    margin-top: 0.6rem;
    align-items: center;
    


 }
 .src{
    width:1rem;
    height: 1rem;
    opacity: 0.7;
 }
 .src:hover{
    opacity: 1;
 }
  .src1{
    width: 1.8rem;
    height: 1.8rem;
    opacity: 0.7;
  }
  .src1:hover{
    transform: scale(1.1);
    opacity: 1;

  }
.playback-bar{
    margin-top: 0.5rem;
    
}
.playback-bar span{
    font-size: 0.7rem;
    opacity: 0.7;
}
  .progress-bar{

    background-color: #4D4D4D;
    color:white;
  cursor: pointer;
    border-radius: 1rem;
  width: 28rem;
    border: none;
  height: 0.2rem;
} 
.volume{
    width: 5rem;
    height: 0.2rem;
    margin-right: -10rem;
}
.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
     appearance: none;
     
  
     background-color: transparent;
     border-radius: 50%;
     
    height: 1rem;
    width: 1rem;
  }
  .progress-bar:hover::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
     appearance: none;
   
  
     /*custom styles*/
     background-color: rgb(255, 255, 255);
     
     
  }
.control{
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.ctrl{
    width:1.8rem;
    height: 1.8rem;
    opacity: 0.8;
    
    
 }
 .ctrl:hover{
    opacity: 1;
    transition: 0.1s;
 }

 .album{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 #imagalb{
    height: 3.5rem;
    width: 3rem;
    margin-left: 5rem;
 }
 #ic1{
    height: 1.3rem;
    width: 1.3rem;
 }

#ic2{
    width: 1.65rem;
    height: 1.65rem;
    padding-left: 0.5rem;
    opacity: 0.7;
}
#ic2:hover{
    opacity: 1;
    transition: 0.2s;

}

.alag{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 4rem;
    width: 7rem;
    justify-content: center;
}
 .song{
    font-size: 0.9rem;
    font-weight: 600;
 }
 .desc{
    font-size: 0.7rem;
    opacity: 0.7;
 }